{% load static %}
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{ productpass.image.url }}" width="100%" id="ProductImg">

           

        </div>
        <div class="col-2">
            <form method="post" action="{% url 'addtocart' %}" enctype="multipart/form-data">
                {% csrf_token %}
            <h1>{{ productpass.title }}</h1>
          
            <h4>RS.{{ productpass.price }}</h4>
            <select>
                <option> Display Size</option>
                <option>{{ productpass.display_size }}</option>
             
            </select>
            <input type="number" name="quantity" value="1">
            <input type="hidden" value="{{productpass.id}}" name="product_id">
            <button type="submit" class="btn">Add To Cart</button>

            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{ productpass.description }}</p>
            </form>
        </div>
    </div>
</div>